data_Ander/*.csv
data_Quintin/BCN_poblacion_16anhos_formacion_sexo/*.csv
data_Quintin/NumerosAbsolutosTrayectoriasEducativas/*.csv
data_Quintin/PorcentajesTrayectoriasEducativas/*.csv
data_Quintin/rawdatatrayectoriaescolar/*.xlsx
data_Quintin/rawdatatrayectoriaescolar/*.csv
data_Quintin/*.csv
data_Julia/*.csv
data/*.csv